html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    min-width: 320px !important;
}

.row {
    @include l-grid();
}


.hide {
    display: none;
}

.inline {
    @include inline-list(left, 20px);
}

.inline-right {
    @include inline-list(right, 20px);
}



.mm-grid-gutter-bottom {
    margin-bottom: 20px;
}

.mm-grid-gutter-top {
    margin-top: 20px;
}

.mm-grid-pad-bottom {
    margin-bottom: 20px;
}

.mm-grid-pad-top {
    margin-top: 20px;
}
