// base section layout item
.l-section--item {
    overflow: hidden;
}

// side-triple section layout
.l-section_side-triple {

    .m-section--hed {
        @include column(1);
        @include media(C) {
            @include column(2/4);
        }
    }

    .l-section--item {
        $cellheight: 120px;

        @include column(1/2);
        overflow: hidden;

        &:nth-of-type(1) {
            height: 2 * $cellheight + $gutter;
            @include move(1/2);
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
            height: $cellheight;
            @include move(-1/2);
        }
        &:nth-of-type(2) {
            margin-bottom: $gutter;
        }
    }

    @include media(B) {
        .l-section--item {
            $cellheight: 200px;
            &:nth-of-type(1) {
                height: 2 * $cellheight + $gutter;
            }

            &:nth-of-type(2),
            &:nth-of-type(3) {
                height: $cellheight;
            }
        }
    }

    @include media(C) {

        .l-section--item {
            $cellheight: 140px;
            @include column(1/4);
            overflow: hidden;

            &:nth-of-type(1) {
                height: 2 * $cellheight + $gutter;
                @include move(1/4);
            }

            &:nth-of-type(2),
            &:nth-of-type(3) {
                height: $cellheight;
                @include move(-1/4);
            }
            &:nth-of-type(2) {
                margin-bottom: $gutter;
            }

        }
    }

    @include media(D) {
        .l-section--item {
            $cellheight: 200px;
            &:nth-of-type(1) {
                height: 2 * $cellheight + $gutter;
            }

            &:nth-of-type(2),
            &:nth-of-type(3) {
                height: $cellheight;
            }
        }
    }
}

.l-section_half-page {
    display: flex;
    min-height: 250px;
    flex-direction: column;
    @include media(B) {
        flex-direction: row;

    }

    .l-half-wide {
        flex: 1;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        &.mm-left {
            order: 1;
            justify-content: flex-end;
        }

        &.mm-right {
            order: 2;
            justify-content: flex-start;

            &.mm-has-background {
                order: 0;
                @include media(B) {
                    order: 2;
                    }
            }
        }

        &.mm-has-background {
            min-height: 200px;
        }

    }

    .l-content-wrap {
        flex: 1;
        display: flex;
        padding: 0 15px; // gutter
        max-width: 100%;

        @include media(C) {
            max-width: $layout-width-C / 2;
        }
        @include media(D) {
            max-width: $layout-width-D / 2;
        }
    }

    .l-content {
        padding: 20px 30px;
        flex: 1;
        flex-direction: row;
        justify-content: center;

        @include media(C) {
            padding: 50px 60px;

        }
    }
}







