.l-navigation {

    &.m-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .l-next,
    .l-prev {
        @include column(4/12, $gut: 0);
        height: 53px;
        overflow: hidden;
    }

    .l-prev {
        text-align: left;

            .m-item--image {
                float: left;
                margin-right: 20px;
                a:after {
                    content: "\f060" !important;
                }
            }
        .m-item--summary {
            margin-left: 70px;
        }

    }

    .l-next {
        @include move(4/12);
        text-align: right;

        .m-item--image {
            a:after {
                content: "\f061" !important;
            }
            margin-left: 20px;
            float: right;
        }

        .m-item--summary {
            margin-right: 70px;
        }
    }

}
