.l-row,
.l-grid {
    @include l-grid();
}

.l-full {
    @include column(1);
    overflow: hidden;
}

.l-half {
    @include column(1/2);
    overflow: hidden;
}

.l-third {
    @include column(1);

    @include media(C) {
        @include column(1/3);
    }
    overflow: hidden;
}

.l-two-thirds {
    @include column(1);

    @include media(C) {
        @include column(2/3);
    }
    overflow: hidden;
}

.l-single {
    overflow: hidden;
}

.l-underlay {
    z-index: -1;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mm-pad-top {
    padding-top: $space;
}

.mm-pad-bottom {
    padding-bottom: $space;
}

.mm-pad-zero {
    padding-top: 0;
    padding-bottom: 0;
}

.l-page {
    padding-top: 48px; // navbar height
    @include media(C) {
        padding-top: 142px;
    }
}

.scroll-lock {
    overflow: hidden;
}
