@font-face {
    font-family: 'Purista_Bold';
    src:
    url('../assets/komafonts/purista-bold/Purista_Bold.eot');
    src:
    url('../assets/komafonts/purista-bold/Purista_Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/komafonts/purista-bold/Purista_Bold.woff') format('woff'),
    url('../assets/komafonts/purista-bold/Purista_Bold.svg') format('svg'),
    local('☺');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Purista_Light';
    src:
    url('../assets/komafonts/purista-light/Purista_Light.eot');
    src:
    url('../assets/komafonts/purista-light/Purista_Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/komafonts/purista-light/Purista_Light.woff') format('woff'),
    url('../assets/komafonts/purista-light/Purista_Light.svg') format('svg'),
    local('☺');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Purista_Medium';
    src:
    url('../assets/komafonts/purista-medium/Purista_Medium.eot');
    src:
    url('../assets/komafonts/purista-medium/Purista_Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/komafonts/purista-medium/Purista_Medium.woff') format('woff'),
    url('../assets/komafonts/purista-medium/Purista_Medium.svg') format('svg'),
    local('☺');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Purista_Semibold';
    src:
    url('../assets/komafonts/purista-semibold/Purista_Semibold.eot');
    src:
    url('../assets/komafonts/purista-semibold/Purista_Semibold.eot?#iefix') format('embedded-opentype'),
    url('../assets/komafonts/purista-semibold/Purista_Semibold.woff') format('woff'),
    url('../assets/komafonts/purista-semibold/Purista_Semibold.svg') format('svg'),
    local('☺');
    font-weight: normal;
    font-style: normal;
}



@mixin fontWeight($weight) {
    @if($weight == 200) {
        font-family: Purista_Light;
        font-weight: normal;
    }
    @if($weight == 400) {
        font-family: Purista_Medium;
        font-weight: normal;
    }
    @if($weight == 600) {
        font-family: Purista_Semibold;
        font-weight: normal;
    }
    @if($weight == 800) {
        font-family: Purista_Bold;
        font-weight: bold;
    }
}
