@font-face {
    font-family: 'Purista_Bold';
    src: url('../assets/komafonts/purista_bold-webfont.eot');
    src: url('../assets/komafonts/purista_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/komafonts/purista_bold-webfont.woff') format('woff'),
    url('../assets/komafonts/purista_bold-webfont.svg') format('svg'),
    local('☺');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Purista_Light';
    src: url('../assets/komafonts/purista_light-webfont.eot');
    src: url('../assets/komafonts/purista_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/komafonts/purista_light-webfont.woff') format('woff'),
    url('../assets/komafonts/purista_light-webfont.svg') format('svg'),
    local('☺');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Purista_Medium';
    src:
    url('../assets/komafonts/purista_medium-webfont.eot');
    src:
    url('../assets/komafonts/purista_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/komafonts/purista_medium-webfont.woff') format('woff'),
    url('../assets/komafonts/purista_medium-webfont.svg') format('svg'),
    local('☺');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Purista_Semibold';
    src:
    url('../assets/komafonts/purista_semibold-webfont.eot');
    src:
    url('../assets/komafonts/purista_semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/komafonts/purista_semibold-webfont.woff') format('woff'),
    url('../assets/komafonts/purista_semibold-webfont.svg') format('svg'),
    local('☺');
    font-weight: normal;
    font-style: normal;
}



@mixin fontWeight($weight) {
    @if($weight == 200) {
        font-family: Purista_Light;
        font-weight: normal;
    }
    @if($weight == 400) {
        font-family: Purista_Medium;
        font-weight: normal;
    }
    @if($weight == 600) {
        font-family: Purista_Semibold;
        font-weight: normal;
    }
    @if($weight == 800) {
        font-family: Purista_Bold;
        font-weight: bold;
    }
}

// fonts
