




// fonts
$font-family-body: "Purista_Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-headline: "Purista_Semibold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-secondary: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-sans-serif: $font-family-headline !default; // "Futura PT Web", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

$space: 50px;

// internal values

// breakpoints
$media-break-A: 640px;
$media-break-B: 960px;
$media-break-C: 1330px;
$media-break-D: 1600px;

// layout widhts for each media
$layout-width-A: 100%;
$layout-width-B: 640px;
$layout-width-C: 960px;
$layout-width-D: 1296px;
