// componentns
@import "../components/normalize-scss/_normalize.scss";
@import "../components/bourbon/app/assets/stylesheets/bourbon";
@import "../components/lost-grid/scss/lost";

// Purista
@import "fonts";

// skin variables
@import "skin";
@import "settings";

// foundation
@import "foundation/settings";
@import "foundation/foundation";
@import "foundation/foundation-media-wrapper";
@import "foundation/override-inline-lists"; // can break foundation one

// settings
@import "base/grid";
@import "base/globals";
@import "base/typography";
@import "lib/vertical-align";

// layouts and modules
@import "layouts/layout-base";
@import "layouts/layout-section";
@import "layouts/layout-navbar";
@import "layouts/layout-feed";
@import "layouts/layout-navigation";
@import "layouts/layout-page-detail-full";

// atomic
@import "modules/module-list";
@import "modules/module-table";

@import "modules/module-page-scroll";
@import "modules/module-navbar";
@import "modules/module-pagination";
@import "modules/module-xmega";
@import "modules/module-footer";
@import "modules/module-coverlines";
@import "modules/module-section";
@import "modules/module-body-content";

@import "modules/module-aside-block";
@import "modules/module-gallery";
@import "modules/module-content-item";
@import "modules/module-card";
@import "modules/module-filter";
@import "modules/module-admin";
@import "modules/module-properties";
@import "modules/module-banner";
@import "modules/module-attachment";
@import "modules/module-layout-object";
@import "modules/module-basic-page";
@import "modules/module-content-product";
@import "modules/module-content-story";
@import "modules/module-content-reference";
@import "modules/module-content-contact";
@import "not-modular/hero-tabs";

// custom drupal overrides
@import "drupal/drupal-override";

// @include mediaDebug();

/*body {
    border: 10px solid orange !important;
}*/

.theme-wrapper-info {
    //position: absolute;
    background: deeppink;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    top: 0;
    left: 0;
}

body {
    &.local {
        &:after {
            display: block;
            position: fixed;
            z-index: 9999;
            content: "Running on local site";
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            background-color: red;
            border: 3px solid white;
            text-align: center;
            color: white;
            padding: 10px;
            width: 300px;
            left: 0;
            right: 0;
            bottom: 30px;
            margin: auto;
        }
    }
}

.fix-height-kontakty {
    .columns {
        min-height: 250px;
    }

    [class*="column"] + [class*="column"]:last-child {
        float: none;
    }
}
