$menu-debug: false;

.xmega {
    margin-left: 170px;
}

.megacleaned {

    > .nav {
        @include cf();
        padding-top: 6px;
        padding-right: 15px;

        > .item {
            display: inline-block;
            float: right;
            margin-left: 20px;
            font-weight: 400;
            @include fontWeight(400);
            padding-top: 6px;
            padding-bottom: 6px;

            a {
                text-decoration: none;
                color: $color-black;
                position: relative;

                &:before {
                    display: none;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: $color-secondary;
                    content: "";
                    bottom: -72px; //-38
                    left: 0;
                    right: 0;
                    margin: auto;
                    @include transform(rotate(45deg));
                    @include transition(all 0.2s);
                }

                &:hover {
                    color: $color-primary;
                    /* &:before {
                         display: block;
                     }*/
                }
            }

            &.is-hovered {
                a {
                    &:before {
                        display: block;
                    }
                }
            }
        }

        .item {
            &.active {
                color: $primary-color;
                a {
                    color: $primary-color;
                }
                border-bottom: 1px solid $primary-color;
            }

            // search icon hack
            &:first-of-type {
                span {
                    display: none;

                }
                a {
                    &:after {
                        font-family: FontAwesome;
                        display: inline-block;
                        height: 20px;
                        width: 10px;
                        content: "";
                    }
                }
            }
        }

    }

    > .nav.mobile {
        display: block;

        @include media(C) {
            display: none;
        }
    }

    > .nav.desktop {
        display: none;

        @include media(C) {
            display: block;
        }
    }

    .item-submenu {
        //display: none !important;
    }
}

.is-collapsed {
    .megacleaned {
        > .nav {
            > .item {
                a {
                    &:before {
                        @include transition(all 0.2s);
                        bottom: -42px;

                    }

                }
            }

        }
    }
}

.m-mega {

    position: fixed;
    z-index: 900;
    top: 48px;
    left: 0;
    right: 0;
    // bottom: 0;

    width: 100%;
    height: auto;

    //overflow: hidden;

    @if ($menu-debug == false) {
        display: none; // show
    }

    .m-mega--sub {
        height: 100%;

        // first sub
        > .item-submenu {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: $color-secondary;

            @if ($menu-debug == false) {
                display: none; // show
            }

            > .row {
                @include l-grid();

                //background-color: lightpink;

                > .submenu {
                    padding: 15px;
                }

                // first level of columns
                > .submenu {
                    & > .columns {
                        //background-color: greenyellow;
                        @include display(flex);
                        @include flex-direction(row);
                        @include flex-wrap(wrap);

                        //display: flex;
                        //flex-wrap: wrap;
                        //flex-direction: row;

                        & > .column {
                            //border: 1px solid red;

                            @include flex(0 0 100%);

                            margin-bottom: $space_A;
                            padding-bottom: $space_A;
                            border-bottom: 1px solid white;

                            @include media(C) {

                                @include flex(1);

                                padding-right: 30px;
                                margin-bottom: 0px;
                                padding-bottom: 0px;
                                border-bottom: none;

                                background-image: url("/sites/all/themes/koma/assets/images/menu-divider.png");
                                background-repeat: repeat-y;
                                background-position: top right;
                            }

                        }

                        // first column
                        & > .column:first-child {
                            //background-color: darkorange;
                            @include flex(0 0 100%);

                            @include media(C) {
                                @include flex(0 0 360px);
                            }
                        }

                        // first column
                        & > .column:last-child {
                            background-image: none;
                        }

                    }

                    & > [cols="3"] {
                        //background-color: cadetblue;
                    }

                }

            }
        }

        [cols="2"] {
            @include display(flex);
            .column {
                @include flex(0 0 50%);
                padding-right: 10px;
            }
        }

        /*[cols="5"] {
            .column {
                width: 100% / 4;
            }
        }

        [cols="3"] {
            .column {
                width: 50%;
            }
        }

        [cols="2"] {
            .column {
                width: 100%;
            }
        }

        .submenu [cols="2"] {
            .column {
                width: 50% !important;
                float: left;
            }
        }

        @include media(C) {

            [cols="5"] {
                .column {
                    width: calc((100% - 360px) / 4);
                }
            }

            [cols="3"] {
                .column {
                    width: calc((100% - 360px) / 2);
                }
            }

            [cols="2"] {
                .column {
                    width: calc(100% - 360px);
                }
            }

            .submenu [cols="2"] {
                .column {
                    width: 50% !important;
                    float: left;
                }
            }
        }*/

        .tblock {
            vertical-align: top;
            padding-top: 0;
            display: block;

            .block-title {
                margin-top: -10px;
                margin-bottom: 29px;
                display: block;
            }
        }

        a {
            font-size: rem-calc(15);
            line-height: 1.2em;
            color: $color-body-font;
            font-weight: 400;
            @include fontWeight(400);
            display: inline-block;

            text-decoration: none;
            &:hover {
                color: $primary-color;
            }
        }

        .mega-group-title {
            min-height: 50px;
            display: block;
            font-weight: 800;
            @include fontWeight(800);
        }

    }

    &.is-opened {
        display: block;
        .m-mega--sub > .item-submenu.is-opened {
            display: block;
        }
    }

    .item:not(.mega-group) {
        &.active {
            > a {
                color: white;
            }
        }
    }

    .level-3 {
        margin-bottom: 8px;
        font-size: rem-calc(14);
        a {
            font-size: rem-calc(14);

        }
    }

    @include media(C) {
        top: 128px;
        bottom: auto;
    }
}

@include media(C) {

    .m-navbar .m-mega {
        top: 0;
        @include transform(translateY(128px));
    }
    .m-navbar.is-collapsed .m-mega {
        top: 0;
        @include transition(all 0.2s);
        @include transform(translateY(68px));
    }
}

.scroll-lock {
    overflow: hidden;
    .m-mega {
        overflow: scroll;
    }
}

// hack for table

#mega-id-0.item-submenu {
    //.column {
    //    @include media(A-only) {
    //        @include flex(0 0 100%);
    //    }
    //}
    //

    > .row {
        // first level of columns
        > .submenu {
            & > .columns {

                .block-block {
                    overflow: hidden;
                    h3 {
                        margin-top: 0;
                    }
                }

                // first column
                & > .column:nth-of-type(2) {
                    @include flex(0 0 100%);

                    @include media(C) {
                        @include flex(0 0 360px);
                        padding-right: 80px;
                    }
                }

            }
        }
    }
}
