.m-gallery {
    @include row();
    padding: 0;
    margin: 0;


    .m-gallery--item {
        //border: 1px solid red;
        @include column (2/6);
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }

    &.mm-medium {
        .m-gallery--item {
            @include column (3/12);
            margin-bottom: 30px;
        }
    }

    &.mm-wide {
        .m-gallery--item {
            @include column (2/12);
            margin-bottom: 30px;
        }
    }

    &.mm-tiny {
        .m-gallery--item {
            @include column (1/6);
            margin-bottom: 30px;
        }
    }
}

.m-gallery {
    li.clearing-featured-img {
        width: 100%;
        margin: 0;
    }
}

.m-gallery--item.clearing-featured-img {
    position: relative;

    .m-item--hed {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        display: block;
        width: 100%;
        height: 100%;
        font-size: rem-calc(18);
        color: white;
        text-align: center;
        .wrapper {
            @include vertical-align();
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &:hover {
        .m-item--hed {
            background-color: rgba(0,0,0,.1);
        }
    }

}
.clearing-blackout {
    .m-gallery--item,
    .m-gallery--item.clearing-featured-img {
        //&.fix-height {
            .m-item--hed {
                display: none;
            }
        //}
    }
}


/*
.m-gallery-item {

    .m-gallery-item--image {
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        overflow: hidden;
        position: relative;

        img {
            visibility: hidden;
            pointer-events: none;
        }

        &:after {
            display: block;
            content: " ";
            position: absolute;
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            opacity: 0;
        }
    }

    .m-gallery-item--summary {
        display: none;
    }


    &:hover {
        .m-gallery-item--image {
            &:after {
                opacity: .2;
            }
        }
    }
}
*/
