.m-banner {
    @include cf();

    text-align: center;
    position: relative;

    padding: ($space_A * 0.5) 0;
    @include media(B) {
        padding: ($space * 0.5) 0;
    }

    & > header {
        max-width: 600px;
        margin: 0 auto;
        position: relative;
    }

    .m-banner--hed {
        font-size: 20px;
        font-weight: 400;
        @include fontWeight(400);

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .m-banner--image {
        height: 60px;
        width: 100px;
        overflow: hidden;
        margin-right: 20px;
        float: left;
        background-size: cover;
        background-position: center;
        a {
            display: block;
            height: 100%;
            width: 100%;
        }
        img {
            visibility: hidden;
        }
    }
}

.bg-primary {
    .m-banner {
        color: white;
        a {
            color: white;
        }
    }
}

.bg-secondary {
    .m-banner {
        color: white;
        a {
            color: white;
        }
    }
}

.bg-secondary-light {
    .m-banner {
        color: $color-body-font;
        a {
            color: $color-black;
        }
    }
}
