.m-contact {

}

.l-detail-page {
    .m-contact {

        > header {
            @include l-grid();
        }

        .m-contact--hed {
            font-size: rem-calc(18);
        }

        .m-contact--image,
        .m-contact--map,
        {
            margin-bottom: $space * 0.5;

            @include column(6/12);

            @include media(B) {
                @include column(3/12);
            }
            @include media(D) {
                @include column(3/12);
            }
        }

        .m-contact--image {
            @include media(D) {
                @include offset(3/12);
            }
        }

        .m-contact--summary {
            @include column(12/12);
            @include media(B) {

                @include column(6/12);
            }
            @include media(D) {
                @include column(3/12);
            }
        }

        .m-contact--summary {
        }

    }
}

.m-address {
    @include cf();
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: rem-calc(12);
    .m-address--name {
        font-size: rem-calc(14);
        font-weight: 600;
        @include fontWeight(600);
    }
    .m-address--job {
        font-size: rem-calc(14);
        margin-bottom: 1em;
    }
    span {
        font-weight: bold;
        @include fontWeight(800);
        color: $color-secondary;
        display: inline-block;
        width: 12px;
    }

    .m-address--action {
        padding-top: 10px;
        a {
            color: gray;
            font-weight: bold;
            @include fontWeight(800);
            text-decoration: none;
        }
    }

}

.m-contact-list {

    .m-contact-list--column {
        @include column(12/12);

        @include media(C) {

            @include column(6/12);
        }
    }

    .m-contact-tab {

        margin-bottom: $space *.4;

        .m-contact-tab--content {
            height: 0;
            overflow: hidden;
        }

        &.is-open {
            .m-contact-tab--content {
                height: auto;
                overflow: hidden;
            }

        }

    }

    .m-contact-tab--header {
        @include cf();

        background-color: $color-secondary-light;
        color: $color-body-font;
        padding: 12px;
        margin-bottom: 15px;
        line-height: rem-calc(18);
        vertical-align: baseline;
        position: relative;

        a {
            color: $color-body-font;
            //color: white;
        }
        .fa {
            font-size: rem-calc(18);
        }

    }

    .m-contact-tab--hed {
        @include column(11/12);
        font-size: rem-calc(15);
        color: $color-black;
        line-height: 1.4em;
        padding-left: 20px;
        font-weight: 400;
        @include fontWeight(400);
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    }

    .m-contact-tab--action {
        text-align: right;
        position: absolute;
        right: 20px;
        top: 50%;
        width: 20px;
        display: block;
        line-height: 1em;

        @include transform(translateY(-50%));
    }

    .m-contact-tab--mark {
        text-align: left;
        position: absolute;
        left: 20px;

        top: 50%;
        content:"+";
        @include transform(translateY(-50%));
    }

    .m-contact-tab--content {
        @include cf();
        background-color: white;
        margin-left: -10px;
        margin-right: -10px;
    }

    .m-contact-tab--address {
        @include column(6/12);
        @include cycle(2);

        @include media(D) {
            @include column(4/12);
            @include cycle(3);
        }
    }

    .m-address {
        margin-bottom: $space * 0.8;
    }
}


.m-contact-form {
    width: 60%;
    margin: 0 auto;
    header {
        text-align: center;
        margin-bottom: $space;
        color: $color-body-font;
        span {
            color: $color-black;
        }
    }

    .button {
        width: 100%;
    }

    &.mm-sent {


    }

}


[collapsible] {
    cursor: pointer;
}
