@mixin m-section-base() {
    //border-bottom: 1px solid #99f;
    //padding: $space 0;
    padding: 0;
    height: auto;
    position: relative;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .mm-small, .mm-xs {
        font-size: rem-calc(16);
    }
    .mm-s {
        font-size: rem-calc(21);
    }

    .mm-medium, .mm-m {
        font-size: rem-calc(36);
    }

    .mm-big, .mm-xl {
        font-size: rem-calc(30);
        @include media(B) {
            font-size: rem-calc(50);
        }
    }

    .mm-tiny {
        font-weight: 200;
        @include fontWeight(200);
    }

    .mm-normal {
        font-weight: 400;
        @include fontWeight(400);
    }

    .mm-bold {
        font-weight: 600;
        @include fontWeight(600);
    }

    .mm-center {
        text-align: center;
    }

    .mm-nocase {
        text-transform: none;
    }

    .mm-upcase {
        text-transform: uppercase;
    }

    &.mm-has-background {
        background-position: center;
        background-size: cover;
    }

    .m-section--close {
        position: absolute;
        z-index: 1;

        right: 0;
        top: 0;
        content: "x";
        color: white;
        display: block;
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 26px;
        text-align: center;

        cursor: pointer;
    }


    .mm-pad-double,
    &.mm-pad-double {
        padding-top: $space_A * 1.5;
        padding-bottom: $space_A * 1.5;
        @include media(B) {
            padding-top: $space * 1.5;
            padding-bottom: $space * 1.5;
        }
    }


    .row.rowfix {
        margin-bottom: -31px;
        overflow: hidden;
    }
}

.m-section.bg-secondary-light {

    .m-item--summary {
        color: $color-black;
    }

    .m-section--close {
        color: $color-secondary;
    }
}

.m-section--header,
.m-section--footer {

    @include cf();

    text-transform: uppercase;
    font-weight: 800;
    @include fontWeight(800);

    padding-top: $space_A;
    padding-bottom: $space_A;

    @include media(B) {
        padding-top: $space;
        padding-bottom: $space;
    }

    a {
        text-decoration: none;
        color: $color-body-font;

        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }

    .breadcrumbs {
        margin-left: 0;
        padding-left: 0;
        @include fontWeight(400);

        a:hover {
            text-decoration: none;
            &:before {
                text-decoration: none;
                color: $color-secondary;
            }
        }
    }

    .l-left,
    .l-right {
        @include column(3/12);
    }
    .l-center {
        @include column(6/12);
        text-align: center;
    }
    .l-half {
        overflow: visible;
    }
    .button {
        margin-top: -14px;
    }

}

.m-section--top {
}

.m-section--more {
    text-align: right;
}

// base section hed style
.m-section--hed {
    font-size: rem-calc(30);
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 800;
    @include fontWeight(800);

    &.mm-border {
        border: 2px solid black;
        color: black;

        display: inline-block;
        line-height: 1em;
        padding: 12px;
        padding-top: 8px;

        margin-left: 50%;

        margin-top: 20px;
        margin-bottom: 20px;

        @include transform(translateX(-50%));

        &.color-white {
            border-color: white;
            color: white;
        }
    }

}

// base section underlay
.m-section--underlay {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;

}

// base section module style
.m-section {
    @include m-section-base();
}

.m-section_vertical-tabs {
    position: relative;
    background-color: $primary-color;

    padding-top: 0;
    padding-bottom: 0;

    //height: 100%;
    overflow: hidden;

    .m-section--container {
        height: 100%;
        position: relative;
    }

    .m-section--header {

        @include column(1, $gut: 0);
        overflow: hidden;
        margin-bottom: 0;
        color: white;

        @include media(C) {
            @include column(4/12, $gut: 0);
            height: 100%;
        }
    }

    .m-section--hed {
        margin-bottom: 20px;
        text-align: center;
        @include media(C) {
            text-align: left;
        }
    }

    .m-section--nav {

        @include column(1);

        position: relative;
        height: auto;
        display: block;

        @include media(C) {
            @include column(2/12, $gut: 0);
            margin: 0;
            height: 100%;
            padding-top: 50px;
            padding-bottom: 50px;

        }

        ul {
            height: 100%;
            margin: 0;
            padding: 0;
            padding-bottom: 40px;
            list-style-type: none;
            @include cf();

            li {
                width: (100 / 2) * 1%;
                float: left;
                display: table;
                a {
                    display: table-cell;
                    vertical-align: middle;
                    color: white;
                    font-weight: 600;
                    @include fontWeight(600);
                    text-decoration: none;
                    height: 36px;
                    text-align: center;
                }
            }

            @include media(B) {

                li {
                    width: (100 / 6) * 1%;
                    a {

                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;

                        height: 64px;
                    }

                    &.active {
                        a {
                            font-weight: 800;
                            @include fontWeight(800);
                        }

                    }
                }

            }

            @include media(C) {
                padding-bottom: 16px;
                li {
                    overflow: visible;
                    float: none;
                    width: 100%;
                    margin: 0;
                    padding: 0;

                    position: relative;
                    a {

                        color: white;
                        font-weight: 600;
                        @include fontWeight(600);
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                        padding-right: 10px;
                        text-align: left;

                    }

                    &.active {
                        a {
                            font-weight: 800;
                            @include fontWeight(800);
                        }
                        &:after {
                            display: block;
                            width: 64px;
                            height: 64px;
                            background-color: $primary-color;
                            color: white;
                            text-align: center;
                            position: absolute;
                            top: 0;
                            right: -64px;
                            z-index: 100;

                            font: normal normal normal 14px/62px FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            transform: translate(0, 0);
                            content: "\f061";
                        }
                    }

                }
            }

        }
    }

    .m-section--carousel {

        @include cf();
        width: 100%;
        height: 100%;
        //height: 300px;

        .slide {
            width: 100%;
            height: 100%;
            background: $secondary-color;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.slick-slider {
            margin-bottom: 0;
        }

        .slick-list {
            height: 100% !important;
        }
        .slick-track {
            height: 100%;
        }

        .slick-next,
        .slick-prev {
            display: none !important;
        }

        @include media(C) {
            // height: 500px;

            overflow: hidden;
            position: absolute;

            margin: auto;

            left: 50%;
            width: 50%;
            right: 0;
            top: 0;
            bottom: 0;

            .slide {
                //height: 500px;
            }
        }
    }
}

.m-section_support {



    background-color: #f5f5f5;

    @include media(B) {
        background-image: url("/sites/koma/assets/images/montaznik-support-background.jpg");
        background-size: auto 422px;
        background-repeat: repeat-x;
        background-position: 0 0;
        }

    @include media(C) {
        height: 422px;
    }

    &.m-section {
        padding: 0;
    }

    .m-item--hed {
        @include fontWeight(600);
        margin-bottom: 30px;
        line-height: 1.2em;
        position: relative;
    }

    header {
        position: relative;
    }

    .m-item--hed-icon {
        width: 49px;
        height: 45px;
        position: absolute;
        left: -70px;
        top: -10px;

        background-repeat: no-repeat;
        background-position: center;
    }

    .m-item--description {
        margin-bottom: 30px;
    }

    .m-section--item {
        //overflow: hidden;
        padding-top: 70px;

        &:nth-of-type(1) {
            @include column(1);
        }

        &:nth-of-type(2) {
            display: none;
        }

        &:nth-of-type(3) {
            @include column(1);
        }

        @include media(B) {

            &:nth-of-type(1) {
                @include column(6/12);
                padding-top: 70px;
            }

            &:nth-of-type(2) {
                @include column(3/12);
                @include move(1/12);
                padding: 0;
                display: block;

            }
            &:nth-of-type(3) {
                @include column(7/12);
                padding-top: 100px;
                padding-bottom: 40px;
            }
        }

        @include media(C) {

            &:nth-of-type(1) {
                padding-top: 80px;
                @include column(3/12);
                @include offset(1/12);
            }

            &:nth-of-type(2) {
                @include column(2/12);
                @include move(0);
            }

            &:nth-of-type(3) {
                padding-top: 80px;
                @include column(5/12);
                //@include move(3/12);
            }
        }

        &.worker {
            img {
                height: 374px;
                width: auto;
            }
        }

    }

    .input-group {

        @include container();

        .prefix {
            @include column(1/6, $gut: 0);
            display: none;
        }
        input {
            @include column(5/6, $gut: 0);
            padding-left: 18px;
        }
        .postfix {
            @include column(1/6, $gut: 0);
            .fa {
                font-size: 26px;
                line-height: 59px;
            }
        }

        input, button {
            height: 59px;
        }
    }

}



.m-section {
    &.l-login {

        position: absolute;

        top: 0;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: auto;

        .m-section--container {
            position: relative;
            height: 100%;
            width: 100%;

            > .row {
                padding-top: 200px;
                //@include vertical-align();
            }

        }

        .m-section--footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;

            font-weight: 400;
            @include fontWeight(400);
            font-size: rem-calc(14);
            text-transform: none;

            a {
                color: $color-body-font;
            }
        }

        .messages {
            text-align: center;
            max-width: 600px;
        }

    }

}


