.m-story {

}

.l-detail-page {

    .m-section--footer {
        margin-top: 50px;
    }

    .m-story {

        //layout

        & > header {
            @include l-grid();
            position: relative;
        }

        .m-story--summary {
            @include cf();
            position: relative;
        }

        .m-story--hed {
            @include column(1);
            margin-bottom: 20px;
        }

        .m-story--meta {
            display: none;
        }

        @include media(C) {
            .m-story--hed {
                @include column(6/12);
                @include move(3/12)
            }

            .m-story--meta {
                display: block;
                @include column(2.5/12);
                @include move(0.5/12);

                position: absolute;
                top: 100%;
            }
        }



        .m-story--description {
            display: none;
        }

        .m-story--content {
            @include l-grid();



            @include media(B) {
                .m-body--content,
                .m-story--image {
                    @include column(1);
                }

            }

            @include media(C) {

                .m-body--content {
                    @include column(5/12);
                    @include move(3/12);
                }
            }

            &.mm-has-image {
                @include media(C) {

                    .m-body--content {
                        @include column(5/12);
                        @include move(-1/12);
                    }

                    .m-story--image {
                        @include column(4/12);
                        @include move(8/12);

                    }
                }
            }



        }

        aside {
            clear: both;
            margin: 0 auto;
        }

        // styles

        .m-story--image {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;

        }

        .m-story--hed {
            font-size: rem-calc(42);
            line-height: 1.3em;
            font-weight: 400;
            @include fontWeight(400);
            margin-top: -.2em;

            a {
                text-decoration: none;
                pointer-events: none;
                color: black;
            }
        }

        .m-story--meta {
            text-align: right;
            dt {
                display: none;
            }
        }

    }

}
