@font-face {
  font-family: 'Purista_Medium';
  src:
    url('Purista_Medium.eot');
  src:
    url('Purista_Medium.eot?#iefix') format('embedded-opentype'),
    url('Purista_Medium.woff') format('woff'),
    url('Purista_Medium.svg') format('svg'),
    local('☺');
  font-weight: normal;
  font-style: normal;
}
